@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
:root {
  --background-color:#E2EFF1;
  --primary-color:#65799B;
  --secondary-color:#555273;
  --button:#E23E57;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: var(--background-color);
}
.top-container h1 {
  font-size: 5.625rem;
  width: 100%;
  margin: 50px auto 0 auto;
  color: var(--primary-color);
}
.top-container h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: normal;
}
.top-container .top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.top-container .bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin-bottom: 20px;
}
.middle-container .profile p {
  width: 50%;
  margin: auto;
}
.middle-container h2 {
  color: var(--secondary-color);
}
.middle-container h3 {
  color: var(--secondary-color);
}
.middle-container p {
  color: var(--primary-color);
}
.middle-container .picture-of-me {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.middle-container .skills .skill-row {
  padding: 15px;
  border: solid whitesmoke 2px;
  border-radius: 7%;
  background-color: whitesmoke;
  width: 50%;
  margin: 100px auto 100px auto;
}
.middle-container .skills .skill-row h3 {
  text-align: left;
}
.middle-container .skills .skill-row p {
  text-align: left;
  line-height: 200%;
}
.middle-container .skills .skill-row .bold-skills {
  font-weight: bold;
}
.middle-container .skills .skill-row .gym-skill-icon {
  margin-right: 30px;
  float: left;
}
.middle-container .skills .skill-row .coding-skill-icon {
  margin-left: 30px;
  float: right;
}
.middle-container .skills img {
  width: 25%;
  border-radius: 50%;
}

hr {
  margin-top: 15px;
  border-style: dotted;
  width: 8%;
  height: 0;
  border-width: 12px;
  border-top: none;
  border-color: grey;
}

.btn {
  border: solid 2px var(--primary-color);
  border-radius: 35%;
  margin: 10px;
  color: black;
  padding: 5px 15px;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background-color: var(--button);
}

.bottom-container a {
  text-decoration: none;
  color: black;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--secondary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--primary-color);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#my-name {
  font-family: "Dancing Script", cursive;
}/*# sourceMappingURL=styles.css.map */